body {
  font-family: sans-serif;
  background: #343638;
}

.com {
  color: white;
  font-family: sans-serif;
}
.intro-container {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: #ccc6cb;
  text-shadow: 1px 1px 2px black;
  margin: 1rem;
}

.sincere {
  margin-top: 2rem;
}

.quote {
  font-family: serif;
  color:goldenrod;
}
