<div class="intro-container">
<h3 class="com">Begin secure beacon based communication:</h3>

<p class="intro">
  Beginning of clue.  If there is an intro, it goes here.
</p>
  <p class="quote">"If a quote is involved, it will go here."
</p>
<p class="intro">
  If there is an closing statement, it will go here. If we just do a simple clue, that content can go here or in the quote area.
</p>

<p class="sincere">
This is where Q signs off.
</p>
</div>
{{outlet}}
