<div class="intro-container">
<h3 class="com">Begin secure beacon based communication:</h3>

<p class="intro">
  Dearest friend, Of immediate attention, I must first congratulate your participation of this most righteous
  expedition. We have the utmost confidence in your ability to assist us in solving this year's old mystery. Now, I
  have wonderful news that will surely assist you in your journey! An old colleague of mine has recently been appointed
  as the head of his state’s archaeological department. Having similar interests at heart, he contacted me sometime
  time ago over an exciting find. By chance, during the rehabilitation of a historic home in Clay County, Missouri, a
  mysterious coded journal was found in a secret compartment of the basement. The home is on record as once belonging
  to one of our long believed to be Knights of the Infernal Order. After much work by our cryptologists, we have
  ascertained that the journal divulges the location of the central meeting place in the city of Nashville, which as
  you know was to be the new commandery of The Order. This excerpt of dialogue comes from one of the decoded sheets of
  the newly discovered diary:
</p>
  <p class="quote">“After arriving in Tennessee and each of us setting up residences in different parts of
  Davidson County, as we thought it best not to be in too close a proximity to one another, we had all of us agreed
  upon meeting once a week on the noon of each Saturday at B.S. Rhea’s store on Market Street. As to not raise any
  suspicion of our goings on, I would feign the purchase of wheat, my brother the selling of corn and the third of our
  number would arrive from a nearby watering hole to speculate on the price of oats for his mare. It is here that we
  malingered and whispered of our machinations against the northern occupiers.”
</p>
<p class="intro">
  Unfortunately, little else can be
  gleaned from this priceless artifact at the moment. The rest of the testimony is still illegible due to the peculiar
  cipher used to protect the information locked inside of its pages. In the meantime, please do your best to locate and
  visit this point of convergence posthaste. Please reply with what you have found! Our allies are working diligently
  to tease more clues from this ingenious cryptogram. As soon as I receive any new information, I will update you
  immediately through the secure messenger on your mobile device.

</p>

<p class="sincere">
Sincerely, Q.
</p>
</div>
{{outlet}}
